body{
          background-image: url('https://i.pinimg.com/236x/d6/39/52/d6395264b2370efb7864f8e965f10668.jpg');
          background-size:40%;
          align-items: center;
          display: flex;
           justify-content: center;
            

         }
         h1{
            color: brown;
            font-family: Georgia, 'Times New Roman', Times, serif;
         
         }
         h2{
            color: rgb(47, 43, 104);
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
           
         }
    div{
            width: 300px;
            height: 500px;
            width: 100vp;
            align-items: center;
            text-align: center;
            justify-content: center;
            border-radius: 20px;
            backdrop-filter: blur(10px);
            border: 1px solid black;
            background-color:antiquewhite;
            box-shadow:10px 20px 30px  brown;
    }